@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.brand {
  display: flex;
  align-items: flex-start;
  > h1 {
    font-size: 1.2rem;
    line-height: 104%;
    max-width: 120px;
    > a {
      color: white;
      text-decoration: none;
    }

    @include small-phone {
      font-size: 1rem;
      line-height: 95%;
      max-width: 80px;
    }
  }
  > h2 {
    margin-left: 5rem;
    font-size: 1rem;

    @include small-phone {
      margin-left: 1.5rem;
      font-size: 0.9rem;
    }
  }
}
