@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

section.hireme {
  min-height: 65vh;
  padding-top: 3rem;
  @include phone {
    padding-top: 10rem;
    min-height: 80vh;
  }

  @include small-phone {
    padding-top: 10rem;
    min-height: 80vh;
  }

  h1 {
    margin-bottom: 3rem;
    line-height: 100%;
  }
}
