@import "./variables.scss";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  color: $colour-text;
}

a {
  text-decoration: none;
}

body {
  font-size: 18px;
  padding: 1rem;
  background: $colour-bg;
  word-wrap: break-word;
  @include desktop {
    padding: 2rem;
  }
}
span {
  word-wrap: break-word;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border: 4px solid rgb(44, 43, 43);
  }
}

main {
  @include desktop {
    padding-top: 3rem;
    max-width: $size-contentwith-desktop;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  letter-spacing: -0.04em;
}

h1 {
  font-size: 3rem;
}

p {
  line-height: 165%;
  margin-bottom: 1.5rem;
}

.gradient1 {
  background-image: linear-gradient(101.37deg, #ffce6f 16.71%, #cc00ff 103.18%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

span.wave {
  animation-name: wave-animation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

span.wavehover {
  &:hover {
    animation-name: wave-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
}
