@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

section.aboutme {
  min-height: 80vh;

  @include phone {
    min-height: 100vh;
  }

  @include small-phone {
    min-height: 110vh;
  }

  h1 {
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
}
